body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
    color: #00231C;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: #3F6FD9
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #A6FF00;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    margin: 20px auto;
    margin-width: 900px;
    border-radius:  8px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
}